.container{

    width: 39%;
    height: fit-content;
    background-color: rgba(73, 68, 68, 0.518);
    margin: auto;
    padding: 10px;
    /* border: 2px solid purple; */

}





.lists{
    display: flex;
    flex-direction: column;
    padding: 10x;
    padding: 10px;
    /* border: 2px solid red; */
    background-color: rgba(50, 47, 47, 0.253);
    border-radius: 10px;
    color: aliceblue;
    width: 90%;
    gap: 10px;
    margin: auto;
    
}

h2{
    background-color: rgba(105, 99, 99, 0.279);
    border-radius: 10px;
    width: fit-content;
    /* border: 2px solid red; */
    width: 90%;
    padding: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center


}



